@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/rubik-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/rubik-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/rubik-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/rubik-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/rubik-v10-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

$body-bg: #E5E5E5;
$body-color: #728AB7;
$font-family-sans-serif: 'Rubik';
$font-family-monospace: 'Rubik'
